<div class="container py-5">
  <h1>All our Flats</h1>
  <p>All <%= @flats.count %> flats.</p>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4 mb-4">
        <div class="flat-card bg-light shadow-sm h-100 d-flex flex-column">
          <% image = flat.image.empty? ? "https://images.unsplash.com/photo-1615571022219-eb45cf7faa9d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2070&amp;q=80" : flat.image %>
          <div class="flat-card-image mb-4" style="background-image: url('<%= image %>')"></div>
          <div class="flat-card-content px-4 mb-4">
            <div class="flat-card-title">
              <h4><%= flat.name %></h4>
            </div>
            <p><%= flat.address %></p>
            <div class="d-flex">
              <div class="d-flex align-items-center gap-1">
                <i class="fa-solid fa-people-line"></i>
                <span><%= flat.number_of_guests %></span>
              </div>
              <div class="d-flex align-items-center gap-1 ms-3">
                <i class="fa-solid fa-dollar-sign"></i>
                <span><%= flat.price_per_night %></span>
              </div>
            </div>
          </div>
          <div class="flat-card-actions bg-white px-4 py-3 mt-auto">
            <%= link_to "More info", flat_path(flat) %>
            <%= link_to "Edit", edit_flat_path(flat), class: "ms-3 text-warning" %>
            <%= link_to "Remove",
              flat_path(flat),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
              class: "ms-3 text-danger"
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
